@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --body-background-color: hsl(216, 12%, 8%);
    --container-background-color: hsl(195, 34%, 14%);
    --heading-color: hsl(0, 0%, 100%);
    --paragraph-and-points-color: hsl(217, 12%, 63%);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body-background-color);
}

/* main-container style */


.container {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: var(--container-background-color);
    box-shadow: 20px 20px 10px 50px var(--body-background-color);
}

/* header styles */


.container header {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    color: var(--heading-color);
}

.container header svg {
    /* display:none; */
    padding: 15px;
    border-radius: 50%;
    background-color: rgba(120, 120, 120, 0.069);

}
.container header .rating-heading{
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.container header .rating-paragraph {
    /* display:none; */
    line-height: 22px;
    color: var(--paragraph-and-points-color);
    margin-top: -10px;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* rating-points style */


.rating-points {

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 90%;
    margin-bottom: 35px;
}

.rating-points div {
    /* display:none; */
    padding: 15px 20px;
    border-radius: 50%;
    color: var(--paragraph-and-points-color);
    background-color: rgba(120, 120, 120, 0.069);
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.rating-points div:active {
    cursor: pointer;
    background-color: hsl(25, 97%, 53%);
}

/* submit button styles */


.submit {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.submit button {
    /* display:none; */
    width: 80%;
    border-radius: 40px;
    padding: 8px 0;
    letter-spacing: 2px;
    background-color: hsl(25, 97%, 53%);
    border: none;
}

.submit button:active {
    background-color: white;
    color: black;
    cursor: pointer;
}

/* style for thank you part */
.container .rating-result {
    display: none;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 35px;
    border-radius: 50px;
    width: 80%;
    padding: 8px 0;
    color: hsl(25, 97%, 53%);
    background-color: rgba(120, 120, 120, 0.069);
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.container img {
    display: none;
    margin-top: 30px;
    margin-left: 60px;
}

.container .thank-heading {
    display: none;
    text-align: center;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.container .thank-you-paragraph {
    display: none;
    text-align: center;
    margin-bottom: -75px;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}